<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form submitiom</title>
    <style>
        *{
            text-transform: capitalize;
        }
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: #f5f6fa;
      
    }
    .form-container {
      background: white;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.15);
      width: 350px;
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    
    .form-container input textarea {
      width: 100%;
      padding: 12px;
      margin: 20px;
      font-size: larger;
      height: 50px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
      border-radius: 0.75rem;
    }
    .form-container button {
      width: 100%;
      padding: 12px;
      background: #4CAF50;
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 16px;
      cursor: pointer;
      margin-top: 12px;
    }
    .form-container button:hover {
      background: #45a049;
    }
  </style>
</head>
<body>
    <form class="form-container" action="/" method="post">
        <input placeholder="enter name" name="userName" id="userName"/>
        <textarea placeholder="enter Description" name="desc" id="desc" style="resize: none;"></textarea>
        <button>submit</button>
    </form>
</body>
</html>